<div class="modal fade" tabindex="-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="blog-form">
          <div class="mb-3">
            <label for="blog-title" class="col-form-label">
              Title:</label>
            <input type="text" class="form-control" id="blog-title">
          </div>
          <div class="mb-3">
            <label for="blog-text" class="col-form-label">Text:</label>
            <textarea class="form-control" id="blog-text"></textarea>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="form-submit-btn">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>