:root {
  --primary-dark: #3c5268;
  --primary-dark-hover: #2c3e50;
  --primary-text: #dfe2e5;
  --high-light: #18bc9c;
  --body: #cfe5e7;
  --primary-box: #95a5a6;
  --comment-box-header: #b0c1c2;
  --comment-box: #c7e3e6;

  --button: #b0bfc0;
  --button-hover: #7f8c8d;
}

body {
  background-color: var(--body);
}

/* Navbar */
.navbar {
  background-color: var(--primary-dark);
  font-size: 1.5rem;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: var(--primary-text);
}

/* Posts */
.post,
.blog-post {
  background-color: var(--primary-box);
  border-radius: 5px;
  box-shadow: 2px 2px 4px #354546;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
}

.post-title p {
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.sub-heading p {
  margin-bottom: 0;
}

.post-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.post-text {
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.post-text-comments {
  background-color: #c7f7f7;
}

.post-comment {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.post-comment button {
  background-color: #186369;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

.post-comment button:hover {
  background-color: #229098;
}

/* hide text by default*/
.post-text {
  display: none;
}

.show-text .post-text {
  display: block;
}

/* hide minus icon by default */
.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

/* Comments Cards */
.card {
  background-color: var(--comment-box);
  margin-bottom: 1rem;
  border: #2c3e50 1px solid;
}

.card-header {
  font-weight: bold;
  background-color: var(--comment-box-header);
}

.highlight {
  color: var(--high-light);
}

textarea {
  background-color: var(--comment-box);
}

/* Dashboard styles */
button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  color: white;
}
